<div class="current-season center-align">
  <h3 class="column-title">CURRENT SEASON</h3>
  <span class="fa-stack fa-lg fa-xl">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
  </span>
  <% present(@league.current_season) do |season| %>
  <h4><span class="stat"><%= season.games_count_formatter %></span></h4>
  <div class="stats">
    <table>
      <thead>
        <tr>
          <th>Stat</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Players per Game:</td>
          <td><%= season.players_per_game_formatter %></td>
        </tr>
        <tr>
          <td>Average Pot Size:</td>
          <td><%= season.average_pot_size_formatter %></td>
        </tr>
        <tr>
          <td>Total Pot Size:</td>
          <td><%= season.total_pot_size_formatter %></td>
        </tr>
        <tr>
          <td>Season Leader:</td>
          <td><%= present(season.leader) { |participant| participant.short_name } %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>
  <div class="link">
    <p><%= link_to "view all of the seasons", "#", class: "action" %></p>
  </div>
</div>
<hr>
