<div class="row">
  <div class="col l4 offset-l4 s12">
  <h5>Schedule A Game</h5>
  <%= form_for [@league, @game] do |f| %>
    <div class="input-field">
      <%= f.date_field :date, class: "datepicker" %>
      <%= f.label :date, "Date" %>
    </div>
    <div class="input-field">
      <%= f.text_field :attendees %>
      <%= f.label :attendees, "Number of Players" %>
    </div>
    <div class="input-field">
      <%= f.text_field :buy_in %>
      <%= f.label :buy_in, "Buy In" %>
    </div>
    <%= f.submit "Schedule Game!", class: "btn btn-poker" %>
  <% end %>
  </div>
</div>


<script>

</script>
