<% present(@game) do |game| %>
  <div class="row">
    <div class="col l10 offset-l1 s12 ">
      <div class="row">
        <div class="col s12">
          <h5><%= game.formatted_date %></h5>
          <hr align="left" class="game-show">
        </div>
        <div class="col l4 s12 game-third stats">
          Winner: <%= game.placed_player(1) %><br />
          Runner Up: <%= game.placed_player(2) %>
        </div>
        <div class="col l4 s12 game-third stats">
          <%= game.players_formatted %><br />Status: <%= game.game_status %>
        </div>
        <div class="col l4 s12 game-third stats">
          Score deprication: <%= game.score_deprecation %> <br />
          Pot size: <%= game.formatted_money(@game.estimated_or_pot) %>
        </div>

        <div class="col s12">
          <hr align="left" class="game-show">
          <% if @game.finished_players_count_greater_than_zero %>
            <div class="col s12">
              <%= render partial: "shared/finished_players", locals: { league: @game.league, scorable: false } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
