<% present(@game) do |game| %>
  <%= game.formatted_date %>
  <%= game.formatted_money(@game.buy_in) %>
<% end %>
<% @game.players.each do |player| %>
  <% present(player.participant) do |participant| %>
    <%= participant.full_name %> - <%= player.finishing_place %>
    <% if @game.completed %>
    &nbsp;- <%= player.score %>
    <% end %>
  <% end %>
<% end %>

<% present(@game) do |game| %>
<div>
  <div class="row">
    <div class="col s12">
      <h4><%= game.formatted_date %></h4>
      <hr>
    </div>
    <div class="">
      <div class="col l4 s12">
        <h5>Number of Players:</h5>
        <p>test</p>
      </div>
      <div class="col l4 s12">
        two
      </div>
      <div class="col l4 s12">
        three
      </div>
    </div>
    <div class="col s12">
      <hr>
      <h5><%= game.formatted_date %></h5>
    </div>

  </div>
</div>
<% end %>
