
<%= link_to "Create League", new_league_path, class: "btn btn-poker" %>
<div class="row">
  <% if @user.no_leagues %>
    <h3>You have no leagues. Create one to get started.</h3>
  <% else %>
    <% @leagues.each do |league| %>
      <p><%# league.name %></p>
      <div class="col l4 s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><%= league.name %></span>
            <ul>
              <li><p><strong># of players: </strong> 19</p></li>
              <li><p><strong># of games: </strong> 16</p></li>
              <li><p><strong># of seasons: </strong> 2</p></li>
            </ul>
          </div>
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a href="#<%= "#{league.slug}-players" %>">Players</a></li>
              <li class="tab"><a href="#<%= "#{league.slug}-games" %>">Games</a></li>
              <li class="tab"><a href="#<%= "#{league.slug}-seasons" %>">Seasons</a></li>
            </ul>
          </div>
          <div class="card-content grey lighten-4">
            <div id="<%= "#{league.slug}-players" %>">
              <ul>
                <li><p><strong>Best: </strong>Michael Cassano</p></li>
                <li><p><strong>Avg/game: </strong>8</p></li>
              </ul>
            </div>
            <div id="<%= "#{league.slug}-games" %>"></div>
            <div id="<%= "#{league.slug}-seasons" %>">Test 3</div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
