<div class="col l6 xl4 s12 <%= league.slug %>">
  <div class="card">
    <div class="card-content">
      <div class="delete-div tooltipped" data-position="bottom" data-tooltip="are you sure? this will delete everything associated with this league">
        <%= button_to "clear", { controller: :leagues, action: "destroy", id: league.slug }, method: :delete, form_class: "material-icons delete-icon delete-league-#{league.slug}" %>
      </div>
      <span class="card-title"><%= league.name %></span>
      <div class="<%= league.slug %>-actions league-actions">
        <%= link_to "view league details", league_path(league), class: "action" %>
        <%= link_to "edit league name", edit_league_path(league), class: "action" %>
        <%= link_to "schedule game", new_league_game_path(league), class: "action" %>
      </div>
      <ul>
        <li><p><strong>Unscored Games: </strong> <%= link_to league.unscored_games.count, league_games_path(league, type: "unscored") %></p></li>
        <li><p><strong># of games: </strong> 16</p></li>
        <li><p><strong># of seasons: </strong> 2</p></li>
      </ul>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#<%= "#{league.slug}-players" %>">Players</a></li>
        <li class="tab"><a href="#<%= "#{league.slug}-games" %>">Games</a></li>
        <li class="tab"><a href="#<%= "#{league.slug}-seasons" %>">Seasons</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="<%= "#{league.slug}-players" %>">
        <ul>
          <li><p><strong>Best: </strong>Michael Cassano</p></li>
          <li><p><strong>Avg/game: </strong>8</p></li>
        </ul>
      </div>
      <div id="<%= "#{league.slug}-games" %>">one two three four five<br />one two three four five<br />one two three four five<br />one two three four five<br />one two three four five<br />one two three four five<br />one two three four five<br /></div>
      <div id="<%= "#{league.slug}-seasons" %>">Test 3</div>
    </div>
  </div>
</div>
