<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "New Player", new_participant_path, class: "nav-link" %></li>
  <li><%= link_to "All Players", participants_path, class: "nav-link" %></li>
  <li class="divider"></li>
  <li><a class="nav-link" href="#!">one</a></li>
  <li><a class="nav-link" href="#!">two</a></li>
  <li class="divider"></li>
  <li><a class="nav-link" href="#!">three</a></li>
</ul>

<nav class="grey lighten-4">
  <div class="nav-wrapper container">
    <!-- <a href="#!" class="brand-logo"><span>POKER</span>RANK</a> -->
    <%= link_to root_path, class: "brand-logo" do %>
      <span>POKER</span>RANK
    <% end %>
    <a href="#" data-activates="mobile-demo" class="nav-link button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if current_user %>
        <li><a class="nav-link dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons dropdown-button right">arrow_drop_down</i></a></li>
        <li><%= link_to "Dashboard", dashboard_path, class: "nav-link" %></li>
        <li><%= link_to "Log Out", logout_path, class: "nav-link" %></li>
      <% else %>
        <li><%= link_to "New Account", new_user_path, class: "nav-link" %></li>
        <li><%= link_to "Log In", login_path, class: "nav-link" %></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <% if current_user %>
        <li><%= link_to "New Player", new_participant_path, class: "nav-link" %></li>
        <li><%= link_to "All Players", participants_path, class: "nav-link" %></li>
        <li class="divider"></li>
        <li><%= link_to "Dashboard", dashboard_path, class: "nav-link" %></li>
        <li><%= link_to "Log Out", logout_path, class: "nav-link" %></li>
      <% else %>
        <li><%= link_to "New Account", new_user_path, class: "nav-link" %></li>
        <li><%= link_to "Log In", login_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>
