<div class="container">
  <div class="row">
    <div class="col l6 offset-l3 s12">
      <h5>Score a Player</h5>
      <div class="new-player">
        <%= form_for [@league, @game, @player] do |f| %>
          <div class="input-field">
            <%= f.select :participant_id, current_user.unfinished_participants(@game).collect { |p| [p.first_name, p.id]}, { prompt: "Select Player" }, class: "input-field player-list" %>
            <a class="close-link" href="#modal1">Create New Player</a>
          </div>
          <%= render partial: "form", locals: { f:f } %>
          <div class="input-field">
            <%= f.submit "Score Player", class: "btn btn-poker" %>
          </div>
        <% end %>
        <div class="input-field">
          <% if !@game.completed %>
            <%= button_to "Finalize Game", league_game_path(@league, @game, type: "finalize"), method: :patch, class: "btn btn-poker" %>
          <% end %>
        </div>
      </div>
      <% if @game.finished_players_count_greater_than_zero %>
        <%= render partial: "shared/finished_players", locals: { league: @league, scorable: true } %>
      <% end %>

    </div>
  </div>
</div>


<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Create a New Player</h4>
    <%= form_for @participant do |f| %>
      <div class="input-field">
        <%= f.text_field :first_name %>
        <%= f.label :first_name, "First Name" %>
      </div>
      <div class="input-field">
        <%= f.text_field :last_name %>
        <%= f.label :last_name, "Last Name" %>
      </div>
  </div>
  <div class="modal-footer">
    <div class="input-field">
      <%= f.submit "Create Player", class: "btn btn-poker" %>
    </div>
    <!-- <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a> -->
    <% end %>
  </div>
</div>
