<!DOCTYPE html>
<html>
  <head>
    <title>Poker Rank</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <script>
      var $toastConcent = $('<div class="<%= key %>"><%= value %></div>');
      Materialize.toast($toastConcent, 7000);
      </script>
    <% end %>
    <%= render partial: "shared/navbar" %>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
